{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn this Py(thon)! 🐍</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js" integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js" integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/idea.min.css" integrity="sha512-N+NJU9LvDmlEQyb3xDkcXPOR8SDXQGx4kRs9wCi/U6GPfN/FSsfjIzY61Svd8eg4Y1VcbBL1XhuC3VzzQYmcJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <h1>Learn this Py(thon)! 🐍</h1>
</header>
<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/courses">Courses</a></li>
    </ul>
</nav>

{% block content %}
<h1>{{coding_problem.title}}</h1>
<p>{{coding_problem.description | safe }}</p>
<p>Code:</p>
<form action="./submit" method="post">
    {% csrf_token %}
    <textarea name='code' id='code'>{% for sol in user_solutions %}{% if forloop.last %}{{ sol.input }}{% endif %}{% endfor %}</textarea>
    <br>
    <div class="buttons">
        <button type="submit" id='run'>Run</button>
        <button id='reset'>Reset</button>
    </div>
</form>
<p>Output:</p>
<textarea id='output'>
{% if user_output %}{{user_output}}{% endif %}
</textarea>
<br>
{% if user_solutions %}
    <p>Previous submissions:</p>
    <ul>
        {% for solution in user_solutions %}
            <li>{{solution}}</li>
        {% endfor %}
    </ul>
{% endif %}
<script src="{% static 'js/code.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'css/code.css' %}">
{% endblock %}
</body>

