{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn this Py(thon)! 🐍</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <!-- emoji -->
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <!-- codemirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/mode/python/python.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/theme/idea.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- codemirror hint -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/addon/hint/show-hint.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/addon/hint/show-hint.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- codemirror lint -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/addon/lint/lint.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/addon/lint/lint.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/python-hint.js' %}" type="text/javascript"></script>
</head>
<body>
<header>
    <h1>Learn this Py(thon)! 🐍</h1>
</header>
<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/courses">Courses</a></li>
    </ul>
</nav>

{% block content %}

{% for p in parts %}
<nav>
    <ul>
        <li><a href="../{{p.slug}}">{{p.title}} - 
            {% if p.type == 'text' %}
            📖
            {% elif p.type == 'coding_problem' %}
            🖥️
            {% elif p.type == 'quiz' %}
            ❓
        {% endif %}</a></li>
    </ul>
</nav>
{% endfor %}

<h1>{{coding_problem.title}}</h1>
<p>{{coding_problem.description | safe }}</p>
<p>Code:</p>
<form action="./submit/" method="post">
    

    {% csrf_token %}
    <textarea name='code' id='code'>{{ user_last_solution.input }}</textarea>
    <br>
    <div class="buttons">
        <button type="submit" id='run'>Run</button>
    </div>
</form>
<div class="buttons_row_centred">
    <button id="lint" onclick="pythonValidatorButton()">Lint</button>
</div>
<h3>Consider before submiting your code:</h3>
<div id="lint_output">
</div>
<p>Output:</p>
<textarea id='output'>
{{ user_last_solution.output }}
</textarea>
<br>

{{ diff | safe}}

{% if user_solutions %}
    <p>Previous submissions:</p>
    <ul>
        {% for solution in user_solutions %}
            <li>{{solution}}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
</body>

<script>
    function pythonValidatorButton() {
    console.log("Validating Python code");
    var code = editor.getValue();
    pythonValidator(code);
}
</script>
<script src="{% static 'js/code.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'css/code.css' %}">

