{% extends 'base.html' %}

{% block content %}
    <h1>{{course.title}}</h1>
    <p>{{course.description}}</p>
    <ul>
        {% for chapter in chapters %}
            <li>
                <a href="./{{chapter.slug}}">{{ chapter.title }}</a>
            </li>
            <ul>
                {% for coding_problem in chapter.coding_problems %}
                <li>
                    <a href="./{{chapter.slug}}/{{coding_problem.slug}}">{{ coding_problem }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}