asgiref==3.5.2
astroid==2.12.13
backports.zoneinfo==0.2.1
dill==0.3.6
Django==4.1.2
django-extensions==3.2.1
isort==5.10.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
platformdirs==2.5.4
pydotplus==2.0.2
pylint==2.15.6
pyparsing==3.0.9
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.6
typing-extensions==4.4.0
wrapt==1.14.1
